/* Import custom styles */
@use './styles/base/base';
@use './styles/components/section';
@use './styles/components/header';
@use './styles/components/footer';

/* Import Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;


